# Ignored paths and directories
## pycharm project path
.idea

## images
**/RealUnaugmented*.png
**/Fake*.png

## models
**/SRGAN_D*
**/SRGAN_G*
**/SRGAN_optimiserD*
**/SRGAN_optimiserG*

## others
**/*sr_gan_loss.csv

## ignore datapaths 
**/data/experiments

## temporal __pycache__/
**/__pycache__/

## .ipynb_checkpoints/
**/.ipynb_checkpoints

## ignore training checkpoints
**/*.pth

## ignores vim temporal files
**/*.swp

## ignores drawing-v**.png files
**/drawing-v**.png

## temporal files for local tex build
**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.nav
**/slides**.pdf
**/*.snm
**/*.synctex.gz
**/*.toc
**/_minted-main
**/*.blg
**/*.out
**/comment.cut


# Distribution / packaging
build/
dist/
*.egg-info/
